  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style type="text/css">



  form#upload {
      float: right;
    margin-top: -180px;
    background-color: #C5E4FF;
  }
   #memberView fieldset {
    width: 24%;
    float: right;
    margin-top: -170px;
    background-color: #C5E4FF;
  }






  #hh {
    width: 25%;
    height: 25%;
  }

  textarea {
    resize: none;
    overflow: auto;
  }


  .fadein { 
    position:relative;
    height:100%; 
    width:100%; 
   }

   .fadein img {
   position:absolute;
    left: 1%;
  }

  fieldset.Edit {
  width: 26%;
  background-color: whitesmoke;
  }

  fieldset.delete {
    width: 40%;
    background-color: rgb(102, 33, 33);
    color: azure;
  }
  </style>


     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){$('.fadein :first-child').fadeOut().next('img').fadeIn().end().appendTo('.fadein');}, 3500);
    });
  </script>


