  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style type="text/css">

  input[type="text"] {
    display: block;
    margin: 0;
    width: 50%;
    font-family: sans-serif;
    font-size: 15px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  input[type="password"] {
    display: block;
    margin: 0;
    width: 50%;
    font-family: sans-serif;
    font-size: 15px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  #login fieldset {
    width: 24%;
    float: right;
    margin-top: -180px;
  }
   #memberView fieldset {
    width: 24%;
    float: right;
    margin-top: -170px;
    background-color: rgb(188, 228, 149);
  }


  #upload fieldset {
   width: 25%;
  }

 
  #contact fieldset {
    width: 50%;
  }

  #interest fieldset {
    width: 50%;
  }

  #hh {
    width: 25%;
    height: 25%;
  }

  textarea {
    resize: none;
    overflow: auto;
  }


  .fadein { 
    position:relative;
    height:100%; 
    width:100%; 
   }

   .fadein img {
   position:absolute;
    left: 4%;
  }

  fieldset.Edit {
  width: 26%;
  }

  fieldset.delete {
    width: 40%;
    background-color: rgb(102, 33, 33);
    color: azure;
  }
  </style>


     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){$('.fadein :first-child').fadeOut().next('img').fadeIn().end().appendTo('.fadein');}, 3500);
    });
  </script>